{% extends "base.html" %}

{%block content%}

<form action="" method="POST">
<div class="container" style="border: 15px solid rgb(196, 255, 230); padding: 8px;">
    <h1>Sign Up</h1>
    <br>
    <form action="" method="POST">
        {% csrf_token %}

    {%for field in form%}
    <div class="mb-3">
        {{field.label_tag}}
        {{field}}
    </div>    
    {%endfor%}

   <button type="submit" class="btn btn-dark" value="signup">Signup</button>
  </form>

</form>
<h5 style="margin-top: -60px; margin-left: 280px;"> Plase use figure,letter and some sign for your security in your password!  </h5>
{%endblock%}